h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1000%;
    text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

ul{
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 300%;
}

