/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo do jogo */
.game-board {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    border-bottom: 15px solid #0a8c28;

    background: linear-gradient(to top, #c8e9f6, #9ae0f1);

    box-shadow: inset 0 40px 80px rgba(255, 255, 255, 0.45);
}

/* Tubo */
.tubo {
    position: absolute;
    bottom: 0;
    width: 90px;

    filter: drop-shadow(0 5px 4px rgba(0,0,0,0.4));

    animation: tubo-animation 1.9s infinite linear;
}

/* Cebolinha */
.boneco {
    position: absolute;
    bottom: 0;
    width: 160px;

    filter: drop-shadow(0 4px 3px rgba(0,0,0,0.35));
}

/* Efeito de pulo */
.jump {
    animation: jump 500ms ease-out;
}

/* ANIMAÇÕES */
@keyframes tubo-animation {
    from {
        right: -100px;
    }
    to {
        right: 105%;
    }
}

@keyframes jump {
    0%   { bottom: 0; }
    40%  { bottom: 170px; }
    50%  { bottom: 170px; }
    60%  { bottom: 170px; }
    100% { bottom: 0; }
}

.game-over-text {
    position: absolute;
    width: 100%;
    top: 180px;
    text-align: center;

    font-size: 48px;
    font-family: 'Comic Sans MS', sans-serif;
    color: #ff4d4d;
    text-shadow: 3px 3px 0 #000;
}

.game-over-text {
    position: absolute;
    width: 100%;
    top: 160px;
    text-align: center;

    font-size: 65px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;

    color: #ff2323;
    text-shadow: 
        4px 4px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;

    display: none; 
}
